<!DOCTYPE html>
<html>
<head>
<title>MFA Verification</title>

<style>

body{
background:#001f73;
font-family:Arial;
text-align:center;
color:white;
padding-top:100px;
}

.box{
background:white;
color:black;
width:350px;
margin:auto;
padding:30px;
border-radius:10px;
}

input{
width:90%;
padding:10px;
margin:10px;
}

button{
padding:10px 20px;
background:#00ffff;
border:none;
font-weight:bold;
}

</style>

</head>

<body>

<div class="box">

<h2>MFA Verification</h2>

<form method="POST">

<input
type="text"
name="otp"
placeholder="Enter OTP"
required>

<br>

<button type="submit">
Verify OTP
</button>

</form>

</div>

</body>
</html>